@charset "UTF-8";
/*상단 가로 메뉴*/
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
*{
	 font-family: 'S-CoreDream-4Regular';
	 -webkit-text-size-adjust: 100%;
}
.myMessageTable{
	margin: 0;
	width: 640%;
}

.backBtn a, .sendBtn a {
	text-decoration: none;
	vertical-align: initial;
	color: #333;
}

.head_aticle{
	padding-top: 64px;
}

.title{
	background-color: #f4f4f4;
	font-weight: bold;
	height: 30px;
}
.content{
	font-size: 14px;
	background-color: #f4f4f4;
}
.content_div{
	width:100%; 
	height: 300px;
	overflow:auto;
}
.moveToListTd{
	height: 28px;
}
.myMessage_div{
	height: 100%;
}

#currentPaging {
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 1;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 34px;
}
#currentPaging:hover{
	border: 1px solid #47597e;
}
#paging {
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 1;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 34px;
}
#paging:hover,#prev_paging:hover,#next_paging:hover{
	border: 1px solid #47597e;
}
#prev_paging{
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
	width: 34px;
    height: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    border: 1px solid #ddd;
}
#next_paging{
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
    width: 34px;
    height: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    border: 1px solid #ddd;
}
.sendBtn, .backBtn, #resetBtn{
	    width: 80px;
    height: 30px;
    padding-top: 4px;
    border: 1px solid #f4f4f3;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 15px;
    color: #333;
    line-height: 18px;
    padding-bottom: 10px;
}