@charset "UTF-8";
/*상단 가로 메뉴*/
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
*{
	 font-family: 'S-CoreDream-4Regular';
	 -webkit-text-size-adjust: 100%;
}
.myMessageTable{
	margin: 0;
	width: 100%;
}
.backBtn{
/* 	width:60px;
    height: 30px;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 18px;
    text-align: center;
    vertical-align: middle; */
}
.backBtn a, .sendBtn a {
	text-decoration: none;
	vertical-align: initial;
	color: #333;
}
/* 
--test--
.sendBtn_test, .backBtn_test{
	width:60px;
    height: 30px;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
.sendBtn_test a, .backBtn_test a{
	text-decoration: none;
	vertical-align: initial;
	color: #333;
}
 */
.title{
	background-color: #f4f4f4;
	font-weight: bold;
	height: 30px;
}
.content{
	height: 300px;
	font-size: 14px;
	background-color: #f4f4f4;
}
.content_div{
	width:100%; 
	height:80%; 
	overflow:auto;
}
.moveToListTd{
	height: 28px;
}
#sendBtn, #backBtn{
		width: 80px;
    height: 30px;
    padding-top: 4px;
    border: 1px solid #f4f4f3;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 15px;
    color: #333;
    line-height: 18px;
    padding-bottom: 10px;
    cursor: pointer;
	
}
a{
	text-decoration: none;
}