@charset "UTF-8";
/*상단 가로 메뉴*/
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
*{
	 font-family: 'S-CoreDream-4Regular';
	 -webkit-text-size-adjust: 100%;
}
.page_aticle.aticle_type2 {
    padding-top: 65px;
}

.page_aticle {
    width: 1050px;
    margin: 0 auto;
    padding-top: 65px;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
body, input, select, textarea, button {
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    max-width: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page_aticle.aticle_type2:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    max-width: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*/------------------*/
.myMessageWrap{
    display: inline-block;
    width: 100%;
    height: 500px;
   	text-align: center;
	padding: 15px 5px;
    
}
.head_aticle,.list-description{
	text-align: center;
}
.tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
     padding-top: 64px;
}
/* .board-header-container {
    padding-bottom: 38px;
} */

.list-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #999;
}
.list-description li{
    font-weight: 400;
    letter-spacing: 0;
}
ol, ul {
    list-style-type: none;
}
.mainMessage{
    width: 820px;
}
.message_Btn{
	height:30px;
	border-bottom: 1px solid #ededed;
	text-align: right;
}
   
.message_title div{
	display: table-cell;
    text-align: center;
    padding: 18px 0 20px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: #333;
}


.paging-navigation * {
    font-weight: 400;
    letter-spacing: 0;
}

.deleteBtn, .sendBtn {
	width:60px;
    height: 25px;
    padding-top: 4px;
    border: 1px solid #f4f4f3;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 18px;
    color: #333;
    line-height: 18px;
    text-align: center;
    vertical-align: text-top;
}
.deleteBtn a, .sendBtn a {
	text-decoration: none;
	vertical-align: top;
}
.paging-navigation{
	text-align: center;
}
.paging-navigation>button {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    background: 0;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
}
.paging-prev{
	margin-right: 12px;
    background-image: url(https://res.kurly.com/kurly/img/2021/direction_prev_disabled_24_44_gray.svg);
}
.paging-next{
	background-image: url(https://res.kurly.com/kurly/img/2021/direction_next_disabled_24_44_gray.svg);
}
.mainMessage{
	align-content: center;
	display: inline-block;
}
.test{
	align-content: center;
}


/*message paging*/

#currentPaging {
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 1;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 34px;
}
#currentPaging:hover{
	border: 1px solid #47597e;
}
#paging {
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 1;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 34px;
}
#paging:hover,#prev_paging:hover,#next_paging:hover{
	border: 1px solid #47597e;
}
#prev_paging{
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
	width: 34px;
    height: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    border: 1px solid #ddd;
}
#next_paging{
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
    width: 34px;
    height: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    border: 1px solid #ddd;
}
.messageListDiv tr{
	height: 50px;
}