@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.section_login {
    width: 340px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    letter-spacing: -.6px;
}

.section_login .tit_login {
	font-family: 'S-CoreDream-4Regular';
    font-weight: 800;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}

.section_login .write_form {
    padding-top: 36px;
}

.section_login .login_view {
    text-align: center;
}

.section_login .checkbox_save .label_checkbox {
    float: left;
    margin-top: 9px;
}

.section_login .label_checkbox {
    position: relative;
    padding: 0 0 3px 22px;
    font-size: 13px;
    line-height: 20px;
}

.section_login .checkbox_save {
    overflow: hidden;
    padding-bottom: 15px;
}

.section_login .label_checkbox [type=checkbox] {
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;
}

.section_login .label_checkbox.checked:before {
    background: url(/jaju/jajuImage/ico_checkbox_on.png) no-repeat 50% 50%;
}

.section_login .label_checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url(https://res.kurly.com/pc/service/order/1908/ico_checkbox_off.png) no-repeat 50% 50%;
}

.section_login input[type=number], .section_login input[type=text], .section_login input[type=password] {
    width: 90%;
    height: 54px;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}

.section_login [name=member_pwd], .section_login [name=ordno], .section_login .login_view [name=srch_mail], .section_login [name=srch_id] {
    margin-top: 10px;
}

.btn_type1, .btn_type2 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    font-size: 0;
    text-align: center;
}

.btn_type1 {
    border: 1px solid #064acb;
    background-color: #064acb;
}

.section_login .login_search {
    float: right;
    padding-top: 13px;
}

.section_login .login_search .link {
    float: left;
    font-size: 13px;
}

.section_login .login_search .bar {
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 6px 0;
    background-color: #333;
}

.section_login .btn_member {
    margin-top: 10px;
    border: 1px solid #064acb;
    background-color: #fff;
}

.btn_type1 .txt_type {
    color: #fff;
}

.btn_type2 .txt_type {
    color: #064acb;
}

.btn_type1 .txt_type, .btn_type2 .txt_type {
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;
    text-align: center;
}