@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

*{
	font-family: 'S-CoreDream-4Regular';
}

#listControlBar {
    width: 800px;
    height: 46px;
    padding: 12px 20px 0;
    border-top: 1px solid #e4e4e4;
    background: #fafafa;
    white-space: nowrap;
    letter-spacing: -.5px;
}

/*레이아웃 여기서*/
#side{ 
	width: 170px;
	float: left;
	margin-top: 260px;
	margin-left:350px;
	border-top: 1px solid #d4d7da;
}
#side:after{
	content: '';
	display: block;
	float: none;
	clear: both;
}
a.link_lnb{
	text-align: left;
}
.wrap_tit{
	margin-top: 20px;
}

.select_admin>.img_selectbox, .select_admin>.img_selectbox_press {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.box_search .select_admin>.img_selectbox, .box_search .select_admin>.img_selectbox_press {
    text-indent: 11px;
}
.box_search .select_admin .img_selectbox {
    background-position: 100% 13px;
}
.select_admin .img_selectbox {
    background: url(//t1.daumcdn.net/cafe_image/cf_img3/admin_2018/arr_open_180116-2.gif) no-repeat 100% 14px;
}
.box_search .select_admin .img_selectbox, .box_search .select_admin .img_selectbox_press {
    width: 100%;
    height: 32px;
    line-height: 30px;
    text-indent: 5px;
    text-align: left;
}
a.link_lnb:hover{
	text-decoration: underline; 
	color: #ed3e49;
}

.list_lnb .on .link_lnb {
    font-weight: 700;
    color: #ed3e49;
}

body#cafeAdmin #side {
    width: 200px;
    float: left;
    position: relative;
}
dl, dl dd, dl dt, ol, ol li, ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
dd, div, dl, dt, li, p, table, td, th, ul {
    line-height: 1.6;
}
body, dd, div, dl, dt, li, p, table, td, th, ul {
    padding: 0;
    margin: 0;
}
body#cafeAdmin #wrap {
    width: 1100px;
    font-size: 12px;
    word-wrap: break-word;
    margin: 0 auto;
    text-align: left;
}
#side .list_lnb {
    width: 170px;
    margin: 0 0 30px 6px;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.list_lnb li:first-child {
    margin-top: 15px;
    border: 0;
}
.list_lnb li {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #efefef;
}
.list_lnb strong {
    display: block;
    overflow: hidden;
    height: 27px;
    font-weight: 400;
    letter-spacing: -.5px;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}
li {
    text-align: -webkit-match-parent;
    display: list-item;
    text-align: -webkit-match-parent;
}
.list_lnb strong .ico_admin {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.ico_admin {
    display: inline-block;
    overflow: hidden;
    background: url(//t1.daumcdn.net/cafe_image/cf_img3/admin_2018/ico_admin_190808.png) no-repeat 0 0;
    vertical-align: top;
}
.lnb_admin1 .ico_admin {
    margin-top: 4px;
    background-position: -40px 0;
}
.ico_admin, .ico_admin:hover {
    font-size: 0;
    line-height: 0;
}
.ico_admin {
    display: inline-block;
    overflow: hidden;
    background: url(//t1.daumcdn.net/cafe_image/cf_img3/admin_2018/ico_admin_190808.png) no-repeat 0 0;
}
.list_lnb strong {
    display: block;
    overflow: hidden;
    height: 27px;
    font-weight: 400;
    letter-spacing: -.5px;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}
.list_lnb ul {
    padding-top: 7px;
}
.list_lnb .link_lnb {
    letter-spacing: -.5px;
    font-size: 14px;
    color: #444;
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
}
.list_lnb .link_lnb:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 9px 12px 0 14px;
    border-radius: 4px;
    vertical-align: top;
}
.list_lnb ul li {
    width: 190px;
    margin: 0;
    padding-top: 1px;
    border: 0;
    
}
.list_lnb .txt_lnb {
    float: left;
    height: 23px;
    line-height: 23px;
}
.list_lnb ul li:first-child {
    margin: 0;
}
.lnb_admin1 .ico_admin {
    margin-top: 4px;
    background-position: -80px 0;
}
.lnb_admin2 .ico_admin {
    margin-top: 5px;
    background-position: -60px 0;
}
ul{
	text-align: left;
}
html{
	min-height: 1200px;
}