<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FriendBlackMapper">
 	
	<resultMap id="friendBlackSelectMap" 		type="friendBlack">
		<result property="friendBlackNo" 			column="friend_black_no" 			jdbcType="INTEGER"/>
		<result property="userEmail"					column="user_email" 					jdbcType="VARCHAR" />
		<result property="targetEmail" 				column="target_email" 					jdbcType="VARCHAR" />
		<result property="fbStatus" 						column="f_b_status" 					jdbcType="CHAR" />
		<result property="accStatus" 					column="acc_status" 					jdbcType="CHAR" />
		
		<!-- 아래 추가-->
		<result property="nick" 						column="nick" 									jdbcType="VARCHAR" />
		<result property="profileImg" 				column="profile_img" 						jdbcType="VARCHAR" />
		
	</resultMap>
	
	
	<!-- 본인의 친구 목록조회 -->
	<select  id="getFriendList"  parameterType="map"	resultMap="friendBlackSelectMap">
	  	SELECT 
	  	*
	  	FROM (	
	  					SELECT 
	  					inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select u.user_email, u.nick, u.profile_img, f.friend_black_no
											from users u, friend_blacks f 
											WHERE
											 u.user_email = f.target_email 
											and f.f_b_status = '1'
											and f.acc_status = '2'
											and f.user_email = #{userEmail}
											UNION
											select u.user_email, u.nick, u.profile_img, f.friend_black_no
											from users u, friend_blacks f 
											where u.user_email = f.user_email 
											and f.f_b_status = '1'
											and f.acc_status = '2'
											and f.target_email = #{userEmail}
											<if test="search.searchCondition == 0 and search.searchKeyword !='' ">
											AND u.user_email = #{search.searchKeyword}
											</if>
											<if test="search.searchCondition == 1 and search.searchKeyword !='' ">
											AND u.nick = #{search.searchKeyword}
											</if>
											 ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
	 <!-- 본인의 블랙리스트 목록조회  -->
	<select  id="getBlackList"  parameterType="map"	resultMap="friendBlackSelectMap">
	  	SELECT 
	  	*
	  	FROM (	
	  					SELECT 
	  					inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
	  					                   u.user_email, u.nick, u.profile_img, f.friend_black_no
											FROM users u, friend_blacks f 
											<where>
											u.user_email = f.target_email 
											AND f.f_b_status = '2' 
											AND f.user_email = #{userEmail} 
											<if test="search.searchCondition == 0 and search.searchKeyword !='' ">
											AND u.user_email = #{search.searchKeyword}
											</if>
											<if test="search.searchCondition == 1 and search.searchKeyword !='' ">
											AND u.nick = #{search.searchKeyword}
											</if>
											</where>
											ORDER BY f.friend_black_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 	<!-- 친구요청을 받은 목록조회 ()-->
	<select  id="getFriendRequestList"  parameterType="map"	resultMap="friendBlackSelectMap">
	  	SELECT 
	  	*
	  	FROM (	
	  					SELECT 
	  					inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
	  					                   u.user_email, u.nick, u.profile_img, f.acc_status
											FROM users u, friend_blacks f 
											<where>
											u.user_email = f.user_email 
											and f.f_b_status = '1' 
											and f.acc_status = '1'
											and f.target_email = #{targetEmail}
										</where>	
											ORDER BY f.friend_black_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
	
	<!-- SQL : SELECT ROW Count // 나의 친구목록조회 토탈카운트  -->	 
	 <select  id="getUserFriendListTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	select u.user_email, u.nick, u.profile_img
											from users u, friend_blacks f 
											WHERE
											 u.user_email = f.target_email 
											AND f.f_b_status = '1'
											AND f.acc_status = '2'
											AND f.user_email = #{userEmail}
											UNION
											SELECT u.user_email, u.nick, u.profile_img 
											FROM users u, friend_blacks f 
											WHERE u.user_email = f.user_email 
											AND f.f_b_status = '1'
											AND f.acc_status = '2'
											AND f.target_email = #{userEmail}
											<where>
											<if test="searchCondition == 0 and searchKeyword !='' ">
											AND u.nick = #{searchKeyword}
											</if>
											</where>
						) countTable						
	 </select>
	 
	 
	 	<!-- SQL : SELECT ROW Count // 친구요청목록 토탈카운트 -->
	 	<select  id="getUserFriendRequestListTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT 
	  					                   u.user_email, u.nick, u.profile_img
											FROM users u, friend_blacks f 
											<where>
											u.user_email = f.user_email 
											and f.f_b_status = '1' 
											and f.acc_status = '1'
											and f.target_email = #{targetEmail}
										</where>	
											ORDER BY f.friend_black_no
						) countTable						
	 </select>	 
	 
	 
	 <!-- SQL : SELECT ROW Count // 나의 블랙리스트 목록 토탈카운트 -->
	 <select  id="getUserBlackListTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT 
	  					                   u.user_email, u.nick, u.profile_img
											FROM users u, friend_blacks f 
											<where>
											u.user_email = f.target_email 
											AND f.f_b_status = '2' 
											AND f.user_email = #{userEmail} 
											<if test="searchCondition == 0 and searchKeyword !='' ">
											AND u.nick = #{searchKeyword}
											</if>
											</where>
											ORDER BY f.friend_black_no
						) countTable						
	 </select>
	 
	 	
	 	
	 	








	  <!-- 친구 등록  //// 친구랑 블랙리스트 등록 합칠수있을꺼같은데... -->
	<insert 	id="addFriend"		parameterType="friendBlack" >
	 	INSERT
		INTO FRIEND_BLACKS(friend_black_no, user_email, target_email, f_b_status, acc_status)
		VALUES	 (seq_friend_black_no.NEXTVAL, #{userEmail : VARCHAR}, #{targetEmail : VARCHAR}, '1', '1')
	 </insert>
	 
	 
	 
	 <!-- 블랙리스트 등록 -->
	<insert 	id="addBlack">
	 	INSERT
		INTO FRIEND_BLACKS
		VALUES	 (seq_friend_black_no.NEXTVAL, #{userEmail : VARCHAR}, #{targetEmail : VARCHAR}, '2', null)
	 </insert>
	 
	 <!-- 친구 요청 수락 -->
	 <update	id="updateAccStatus"	parameterType="friendBlack" >
	   	UPDATE friend_blacks 
	   	<set>
	   		acc_status = '2'
	   	</set>
	   	WHERE 	f_b_status = '1'
	   	and user_email = #{userEmail}
	 </update>
	 
	 <!-- 친구 요청 거절  -->
	 <delete id="deleteFriendRequest">
	   delete from friend_blacks 
	   WHERE f_b_status = '1' and acc_status = '1'  
	   and user_email = #{userEmail} 
	 </delete>
	 
	   <!-- 친구 삭제 -->
	 <delete id="deleteFriend">
	   delete from friend_blacks 
	   WHERE f_b_status = '1' and acc_status = '2'  
	   AND friend_black_no = #{friendBlackNo}
	 </delete>
	  
	  <!-- 블랙리스트 삭제  -->
	  <delete id="deleteBlack">
	   delete from friend_blacks 
	   WHERE f_b_status = '2' 
	    AND friend_black_no = #{friendBlackNo}
	 </delete>
	 
	 
	<!-- 친구 중복신청 방지, 이미 친구사이.. 일떄  친구는 양방향처리해줘야함-->
	<select  id="checkFriend"  parameterType="map"	 resultType="int">
		SELECT COUNT(*) FROM (  
		SELECT *
	  	FROM friend_blacks 
		WHERE user_email = #{userEmail}
		AND target_email = #{targetEmail}
		AND f_b_status ='1' and acc_status = '2'
        UNION
        SELECT *
	  	FROM friend_blacks 
		WHERE user_email = #{targetEmail}
		AND target_email = #{userEmail}
		AND f_b_status ='1' and acc_status = '2')
	 </select>
	 
	 <!-- 블랙리스트 등록 중복방지.. 단방향이라서 하나만 체크 -->
	 <select  id="checkBlack"  parameterType="map"	 resultType="int">
		SELECT COUNT(*) 
		FROM friend_blacks
		WHERE user_email = #{userEmail}
		AND target_email = #{targetEmail} 
		AND f_b_status ='2' 
	 </select>
	 
	 
</mapper>