<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MsgMapper">
 	
 	
	<resultMap id="msgSelectMap" type="msg">
		<result property="msgNo" 			column="msg_no" 			jdbcType="INTEGER"/>
		<result property="sendEmail"	column="send_email" 		jdbcType="VARCHAR" />
		<result property="nick"	column="nick" 		jdbcType="VARCHAR" />
		<result property="recvEmail" 	column="recv_email" 		jdbcType="VARCHAR" />
		<result property="title" 				column="title" 					jdbcType="VARCHAR" />
		<result property="detail" 				column="detail" 					jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 		jdbcType="DATE" />
	</resultMap>
	
	
	<!-- 쪽지 전송 -->
	<insert 	id="addMsg"		parameterType="msg" >
	 	INSERT
		INTO msgs
		VALUES	 (seq_msgs_msg_no.NEXTVAL, #{sendEmail : VARCHAR}, #{recvEmail : VARCHAR}, #{title : VARCHAR}, #{detail : VARCHAR}, SYSDATE)
	 </insert>
	 
	 <!-- 받은 쪽지 상세조회 -->
	 <select 	id="getRecvMsg"	parameterType="int"	 resultMap="msgSelectMap">
		SELECT u.nick, m.title, m.detail, m.reg_date
		FROM msgs m, users u
		WHERE u.user_email = m.send_email  
		AND msg_no = #{msgNo}
	 </select>
	 
	  <!-- 보낸 쪽지 상세조회 -->
	 <select 	id="getSendMsg"	parameterType="int"	 resultMap="msgSelectMap">
		SELECT u.nick, m.title, m.detail, m.reg_date
		FROM msgs m, users u
		WHERE u.user_email = m.recv_email  
		AND msg_no = #{msgNo}
	 </select>
	 
	 <!-- 쪽지 삭제 -->
	 <delete id="deleteMsg">
	   delete from msgs 
	   WHERE msg_no = #{msgNo}
	 </delete>
	 
	 
	  <!-- 받은 쪽지함 목록조회 -->
	  
	  
	  
	   <!-- 보낸 쪽지함 목록조회 -->
	
	 
	 
	 
</mapper>