<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="product">
		<result property="productNo" 		column="product_no" 		jdbcType="NUMERIC"/>
		<result property="productName"		column="product_name" 		jdbcType="VARCHAR" />
		<result property="productPrice" 	column="product_Price" 		jdbcType="NUMERIC" />
		<result property="productDetail" 	column="product_detail" 	jdbcType="VARCHAR" />
		<result property="productImg" 		column="product_img" 		jdbcType="VARCHAR" />
		<result property="status" 			column="status" 			jdbcType="VARCHAR" />

	</resultMap>
	
	<!-- SQL : INSERT -->
<!-- //////////////////쿠폰 상품 등록 UI, 등록 이미지, 등록 완료, 확인 /////////////////////////////////////////////////// -->
	<insert 	id="addProductCouponView"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img, status) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR} , 
				<if test="status == 0">쿠폰</if> 
				<if test="status == 1">상품권</if>
				<if test="status == 2">포인트</if>
				)
	 </insert>
	 
	<insert 	id="addProductCoupon"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>	 
	 
	<insert 	id="addProductCouponConfirm"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>

	<insert 	id="addProductCouponImg"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>
<!-- /////////////////////////////상품권/////////////////////////////////////////////////// -->

	<insert 	id="addProductVoucherView"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img, status) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR} , 
				<if test="status == 0">쿠폰</if> 
				<if test="status == 1">상품권</if>
				<if test="status == 2">포인트</if>
				)
	 </insert>
	 
	<insert 	id="addProductVoucher"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>	 
	 
	<insert 	id="addProductVoucherConfirm"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>

	<insert 	id="addProductVoucherImg"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>
<!-- /////////////////////////////포인트/////////////////////////////////////////////////// -->

	<insert 	id="addProductPointView"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img, status) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR} , 
				<if test="status == 0">쿠폰</if> 
				<if test="status == 1">상품권</if>
				<if test="status == 2">포인트</if>
				)
	 </insert>
	 
	<insert 	id="addProductPoint"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>	 
	 
	<insert 	id="addProductPointConfirm"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>

	<insert 	id="addProductPointImg"		parameterType="product" >
	 	INSERT
		INTO product( product_no , product_name , product_price, product_detail , product_img) 
		VALUES	 ( SEQ_PRODUCT_PRODUCT_NO.NEXTVAL , #{productName} , 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{productPrice}</if>
				, #{productDetail:VARCHAR} , #{productImg:VARCHAR})
	 </insert>
<!-- /////////////////////////////쿠폰, 상품권, 포인트 상세 조회/////////////////////////////////////////////////// -->
	 

	 <select 	id="getProductCoupon"	parameterType="int"	resultMap="productSelectMap">
		SELECT
		product_no , product_name , product_detail ,  product_price ,  product_img		
		FROM product 
		WHERE product_no = #{value}
	 </select>
	 
	 <select 	id="getProductVoucher"	parameterType="int"	resultMap="productSelectMap">
		SELECT
		product_no , product_name , product_detail ,  product_price ,  product_img		
		FROM product 
		WHERE product_no = #{value}
	 </select>
	 
	 <select 	id="getProductPoint"	parameterType="int"	resultMap="productSelectMap">
		SELECT
		product_no , product_name , product_detail ,  product_price ,  product_img		
		FROM product 
		WHERE product_no = #{value}
	 </select>

<!-- /////////////////////////////쿠폰, 상품권, 포인트 이미지 수정, 정보 수정 완료, 수정 확인////////////////////////////////// -->
	 
	 <!-- SQL : UPDATE -->
<!-- /////////////////////////////쿠폰/////////////////////////////////////////////////// -->
	 <update	id="updateProductCouponImg"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductCoupon"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductCouponConfirm"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>

<!-- /////////////////////////////상품권/////////////////////////////////////////////////// -->
	 
	 	 <update	id="updateProductVoucherImg"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductVoucher"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductVoucherConfirm"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
<!-- /////////////////////////////포인트/////////////////////////////////////////////////// -->	 

	 <update	id="updateProductPointImg"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductPoint"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>
	 
	 <update	id="updateProductPointConfirm"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		product_name 			= #{productName:VARCHAR} ,
			product_detail			= #{productDetail:VARCHAR},
			product_price			= 
				<if test="productPrice == 0">null</if>
				<if test="productPrice !=0 ">#{price:VARCHAR}</if>,
			product_img				= #{productImg:VARCHAR}
	   	</set>
	   	WHERE product_no = #{productNo}
	 </update>

<!-- //////////////////////////쿠폰, 상품권, 포인트 상품 삭제//////////////////////////////////////////////////////  -->

	 <delete	id="deleteProductCoupon"	parameterType="product" >
	   	DELETE from product
	   	WHERE product_no = #{productNo}
	 </delete>

	 <delete	id="deleteProductVoucher"	parameterType="product" >
	   	DELETE from product
	   	WHERE product_no = #{productNo}
	 </delete>

	 <delete	id="deleteProductPoint"	parameterType="product" >
	   	DELETE from product
	   	WHERE product_no = #{productNo}
	 </delete>

<!-- //////////////////////////쿠폰, 상품권, 포인트 전체 목록 조회//////////////////////////////////////////////////////  -->
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getProductCouponList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT product_no, product_name , product_price
											FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				product_no LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				product_name LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				product_price LIKE '%${searchKeyword}%'
													</if>
												</where>
											</if>
											ORDER BY product_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>

	<select  id="getProductVoucherList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT product_no, product_name , product_price
											FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				product_no LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				product_name LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				product_price LIKE '%${searchKeyword}%'
													</if>
												</where>
											</if>
											ORDER BY product_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>

	<select  id="getProductPointList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT product_no, product_name , product_price
											FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				product_no LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				product_name LIKE '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				product_price LIKE '%${searchKeyword}%'
													</if>
												</where>
											</if>
											ORDER BY product_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>	 
	 
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT product_no, product_name , product_price
						FROM product
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									product_no LIKE '%${searchKeyword}%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
									product_name LIKE '%${searchKeyword}%'
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
									product_price LIKE '%${searchKeyword}%'
								</if>							
							</where>
						</if> ) countTable						
	 </select>
	 
</mapper>