<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportMapper">
 	
 	
	<resultMap id="reportSelectMap" type="report">
		<result property="reportNo" 			column="report_no" 			jdbcType="INTEGER"/>
		<result property="reporterEmail"	column="reporter_email" 		jdbcType="VARCHAR" />
		<result property="targetEmail" 	column="target_email" 		jdbcType="VARCHAR" />
		<result property="reason" 				column="reason" 					jdbcType="CHAR" />
		<result property="regDate" 				column="reg_date" 					jdbcType="DATE" />
		<result property="reportPlace" 			column="report_place" 		jdbcType="CHAR" />
		<result property="certiImgNo" 				column="certi_img_no" 					jdbcType="INTEGER" />
		<result property="commentNo" 			column="comment_no" 				jdbcType="INTEGER"  />
		<result property="msgNo" 		column="msg_no" 			jdbcType="INTEGER" />
		
		<!-- 추가 -->
		<result property="nick" 	column="nick" 		jdbcType="VARCHAR" />
	</resultMap>
	
	
	<!-- SQL : 인증이미지 신고 등록-->
	<insert 	id="addCertiImgReport"		parameterType="report" >
	 	INSERT
	 	INTO reports
	 	VALUES ( SEQ_REPORTS_REPORT_NO.NEXTVAL, #{reporterEmail : VARCHAR}, #{targetEmail : VARCHAR}, 
	 					#{reason : CHAR}, SYSDATE, '1', #{certiImgNo : INTEGER})
	 </insert>
	
	<!-- SQL : 인증이미지댓글 신고 등록-->
	<insert 	id="addCertiImgCommentReport"		parameterType="report" >
	 	INSERT
	 	INTO reports
	 	VALUES ( SEQ_REPORTS_REPORT_NO.NEXTVAL, #{reporterEmail : VARCHAR}, #{targetEmail : VARCHAR}, 
	 					#{reason : CHAR}, SYSDATE, '2',  #{commentNo : INTEGER})
	 </insert>
	 
	 
	 <!-- SQL : 쪽지 신고 등록-->
	<insert 	id="addMsgReport"		parameterType="report" >
	 	INSERT
	 	INTO reports(report_no, reporter_email, target_email, reason, reg_date, report_place, msg_no)
	 	VALUES (SEQ_REPORTS_REPORT_NO.NEXTVAL, #{reporterEmail : VARCHAR}, #{targetEmail : VARCHAR}, 
	 					#{reason : CHAR}, SYSDATE, '3', #{msgNo : INTEGER})
	 </insert>
	 
	 
	 <!-- SQL : 신고유저 목록조회(관리자)-->
	 
	 <select  id="getReportList"  parameterType="map"	resultMap="reportSelectMap">
	  	SELECT 
	  	*
	  	FROM (	
	  					SELECT 
	  					inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select u.user_email, u.nick, u.reg_date, a.ra
											from users u,( select u.user_email as b, count(*) as ra from reports r , users u 
											where r.target_email = u.user_email 
											group by u.user_email ) a
											where u.user_email = a.b
	  										
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				u.user_email = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				u.nick = #{searchKeyword}
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				u.reg_date = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY a.ra ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
</mapper>