@charset "UTF-8";


@font-face {
		    font-family: 'oneMobile';
		    src: url('/resources/css/font/ONE Mobile Title.ttf') format('truetype');
		}

.thumbnail{
	font-family: 'oneMobile';
	width:500px;
	height:600px;
	
}