@charset "UTF-8";

@font-face {
		    font-family: 'oneMobile'!important;
		    src: url('/resources/css/font/ONE Mobile Title.ttf') format('truetype')!important;
		}

body {
	overflow-x: hidden;
}

.container{
	 font-family: 'oneMobile'!important;
	 padding-top : 200px;
}

#header{
	font-family: 'oneMobile'!important;
	font-size:26px;
	text-align:center;
	
}
.thumbnail{
	width:900px;
	position:relative;
	left:130px;
}

#user{
	
	font-size:26px;
	position:relative;
	left:10px;
	top:10px;
	cursor: pointer;
	
}
img#profile{
        	width:60px;
        	height:60px;
        	border-radius: 30px 30px 30px 30px;
        	cursor: pointer;
        }
        
#user-info{
	padding-top:40px;
	display: flex;
	
}
.info{
	padding-top:40px;
}
.font-size{
	font-size:24px;
}
.like-dislike{
	display:flex;
	position:relative;
	left:650px;
	bottom:130px;
	
	
}
#like{
	padding-right: 20px;
}

.like-dislike-model{
	font-size:24px;
}


#like-model{
	color:#75bdff;
}


#bord{
	position:relative;
	left:630px;
	bottom:87px;
	border:solid 1px;
	border-color:#d9d9d9;
	width:150px;
	height:50px;
	border-radius: 30px 30px 30px 30px;
}
.glyphicon glyphicon-thumbs-up{
	font-size:30px;
}

.glyphicon glyphicon-thumbs-down{
	font-size:30px;
}
#comment-btn-open{
	width:700px;
}

#comment-btn-close{
	width:700px;
}


#comments{
	width:700px!important;
	position:relative;
	left:86px;
	margin-bottom:0px;
}

#input-comment{
	
	position:relative;
	left:86px;
	
}

#input-comt{
	width:640px;
}

a.comment-update{
	text-decoration: none;
        	color:black;
}
a.comment-delete{
	text-decoration: none;
        	color:black;
}



td.nick-comment{
	width:560px;
}

.text-comment{
	
	width:546px;
	height:80px;
	resize:none;
	white-space: pre-wrap;
	border: none;
	overflow:visible;
	
}
#update-comt{
	width:546px;
	height:80px;
	resize:none;
	white-space: pre-wrap;
	overflow:visible;
	
}
#comment-input-btn{
	
	position:relative;
	bottom:20px;
	
}
#cerit-img-delete{
	position:relative;
	bottom : 120px;
	left:635px;
}
.input-group{
			display:flex;
			padding-bottom : 30px;
			position:relative;
		}
#search-opt{
	position:relative;
	left:770px;
}
#search{
	height:32px;
	position:relative;
}